.app-bar {
  background-color: #44c4ff;
  color: white;
}

.import-title {
  border-bottom: solid 1px black;
}

.box-file {
  position: relative;
  margin: 8px 0;
  padding: 2px 1em;
  border: solid 3px #90cdf4;
  border-radius: 8px;
}

.box-file-title {
  position: absolute;
  display: inline-block;
  top: -8px;
  left: 10px;
  padding: 0 9px;
  line-height: 1;
  background: #FFF;
  color: #90cdf4;
  font-weight: bold;
}

.box-file-name {
  margin: 0;
  padding: 0;
}

.icon-space {
  display: flex;
  justify-content: space-between;
}
.icon {
  margin-top: 2px;
}